*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    

}

.title {
    font-size: 65px;
    font-weight: 700;
    color: #ffffff;
    margin: 15px 0;
  
    

}
.description {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 30px;
}
.btn {
    background-color: #ffffff;
    color: #005FAC;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 18px 35px;
    height: 64px;
}

.banner{
    display: block;
    text-align: right;
    align-items: center;
    margin: 0 200px;
    
    
}
.header {
    background: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    padding: 300px 0;
    background-size: cover;
    background-position: 50%;
}
.section-title {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    padding: 24px 0;
    
}
.section-description {
    font-size: 16px;
    font-weight: 400px;
    color: #444343;
   
}
.contrary {
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0;
    
}
section {
    /* align-items: auto; */
    text-align: right;
    margin: 230px;
    background: url(../images/person.png);
    background-repeat: no-repeat;
    padding-bottom: 300px;
    background-position: left;

}
.skills-container{
    display:inline-flex;
    gap: 24px;
}
.skill{
    /* background: #FFFFFF; */
    /* box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06); */
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
.what-i-do {
    text-align: center;
    
}
.call-now{
    background: url(../images/gradient1.png), url(../images/watch.png);
    /* background-image: url(/images/watch.png); */
    background-repeat: no-repeat;
    padding: 35px 35px;
}

.keep {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    padding-bottom:  20px;
    
    
}
.heheboi {
padding: 25px 400px;
width: 100%;
}
footer{
    background-color: #151414;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.enging-title {
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
    padding: 20px;
    padding-left: 50px;
}
.ending-description {
    font-size: 16px;
    font-weight:400;
    color: #FFFFFF;
    padding: 15px;
    padding-left: 40px;
}
.email{
    font-size: 16px;
    font-weight:400;
    color: white;
    padding: 20px;
    padding-left: 50px;
}
.phone{
    font-size: 16px;
    font-weight:400;
    color: white;
    padding:0 20px;
    padding-left: 50px;
}
.sub{
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    padding: 10px;
}
.btn-2 {
    background-color: #005FAC;
    color: #ffffff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 35px;
}
/* .last {
  text-align: center;
  margin: 30px;
} */
input {
    height: 50px;
}